{% load static %}
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light font" id="myNav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <h1 class="display-4">P A T U</h1>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/berita">Berita</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perilisan">Perilisan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/toko">Toko</a>
                </li>
                <li>
                    <span class="hamburgermenu" style="font-size:25px;cursor:pointer;" onclick="openNav()">&#9776;</span>
                </li>
            </ul>

        </div>
    </div>
</nav>
