{% load static %}
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&rightarrow;</a>
    <div class="overlay-content">
        <a href="#" class="">Tentang Kami</a>
        <a href="#" class="">Acara</a>
        <a href="#" class="">Hubungi Kami</a>
        <a href="#" class="">Berlangganan</a>
        <div class="row media-sosial justify-content-center">
            <a href="#" target="_blank" title="Youtube" class="fa fa-youtube"></a>
            <a href="#" target="_blank" title="Instagram" class="fa fa-instagram"></a>
            <a href="#" target="_blank" title="Twitter" class="fa fa-twitter"></a>
        </div>
    </div>

</div>